.attendance-dropdown-button {
  width: 80px;
}

@media (max-width: 576px) {
  .attendance-dropdown-button {
    width: 60px;
  }
}

.attendance-tabs + .tab-content {
  width: 100%;
  height: calc(100% - 85px);
}

.attendance-tabs + .tab-content .list-container {
  height: calc(100% - 65px);
}

.progress-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.progress-container .progress-card {
  display: flex;
  flex-direction: column;
  margin-right: 10%;
  font-weight: bold;
}

.progress-container .progress-card span {
  margin-bottom: 10px;
}

.progress-container .progress-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress-container .progress-chart span {
  font-weight: bold;
  margin-bottom: 10px;
}

.progress-container .progress-chart .CircularProgressbar {
  width: 80%;
}

.progress-container .progress-chart .CircularProgressbar-path {
  stroke: #5bc0de;
}

.progress-container .progress-chart .CircularProgressbar-text {
  fill: #5bc0de;
}

@media (max-width: 576px) {
  .progress-container {
    flex-direction: column-reverse;
  }

  .progress-container .progress-card {
    text-align: center;
    margin: 30px 0 0 0;
  }

  .progress-container .progress-chart .CircularProgressbar {
    width: 65%;
  }
}

@media (max-height: 550px) and (min-width: 576px) {
  .progress-container .progress-chart .CircularProgressbar {
    width: 45vh;
  }
}

@media (max-height: 400px) and (min-width: 576px) {
  .progress-container .progress-chart .CircularProgressbar {
    width: 35vh;
  }

  .progress-container .progress-card {
    font-size: smaller;
  }
}

@media (max-width: 576px) and (max-height: 550px) {
  .progress-container {
    justify-content: flex-end;
    padding-top: 20px;
  }
}

.hr-attendance-container {
  width: 100%;
  height: calc(100% - 43px);
  overflow-y: auto;
}

.hr-attendance-container .list-container {
  height: calc(100% - 50px);
  margin-top: 0;
}

.hr-attendance-container .alert {
  width: 250px;
  margin: auto;
  margin-top: 30px;
  text-align: center;
}

@media (max-width: 576px) {
  .hr-attendance-container {
    height: calc(100% - 81px);
  }

  .hr-attendance-container .list-container {
    height: calc(100% - 45px);
  }
}

@media (max-width: 320px) {
  .hr-attendance-container .alert {
    width: fit-content;
    font-size: smaller;
  }
}

.add-missing-record-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

.add-missing-record-select > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-missing-record-select > div > input {
  width: 140px;
  height: 32px;
  padding: 6px 0 7px;
  margin-right: 20px;
}

.add-missing-record-select + .hr-attendance-container {
  height: calc(100% - 53px);
}

@media (max-width: 650px) {
  .add-missing-record-select {
    font-size: smaller;
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .add-missing-record-select > div {
    width: 100%;
    margin-top: 10px;
  }

  .add-missing-record-select > div > input {
    margin-right: 15px;
  }

  .add-missing-record-select + .hr-attendance-container {
    height: calc(100% - 95px);
  }
}
