.attendance-select {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
  color: #495057;
  font-weight: 600;
}

.attendance-select > div {
  display: flex;
}

.attendance-select .attendance-dropdown-button {
  width: 80px;
  border: none;
  border-bottom: solid 2px #5bc0de;
  background-color: transparent;
  color: #5bc0de;
  transition: 0.2s;
}

.attendance-select .attendance-dropdown-button:hover,
.attendance-select .attendance-dropdown-button:focus-visible {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0 0 5px 1px #5bc0de;
}

.attendance-select .attendance-dropdown-button:focus {
  outline: none;
}

.attendance-select .attendance-dropdown-button:active {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: solid 2px #495057;
  box-shadow: 0 0 5px 1px #495057;
  color: #495057;
}

.attendance-select .dropdown-menu {
  max-height: 200px;
  overflow-y: auto;
}

.attendance-select .dropdown-item:active {
  background-color: #495057;
}

.attendance-select input {
  width: 140px;
  border-radius: 10px;
  border: 1px solid #495057;
  padding: 0 5px;
  margin-left: 20px;
}

.attendance-select input:focus {
  outline: none;
}

@media (max-width: 576px) {
  .attendance-select {
    font-size: smaller;
    flex-direction: column;
    align-items: flex-start;
  }

  .attendance-select .attendance-dropdown-button {
    width: 60px;
  }

  .attendance-select input {
    margin: 20px 0 0 0;
  }
}

.attendance-tabs {
  padding: 1px;
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
}

.attendance-tabs a {
  color: #5bc0de;
  font-weight: 500;
  white-space: nowrap;
}

.attendance-tabs a:focus {
  outline: none;
}

.attendance-tabs a:focus-visible {
  box-shadow: 0 0 2px 0 grey;
  z-index: 2;
}

.attendance-tabs + .tab-content {
  width: 100%;
  height: calc(100vh - 170px);
}

.attendance-tab {
  width: 100%;
  height: 100%;
  margin-top: 15px;
}

.attendance-tab .list-container {
  height: calc(100% - 45px);
  margin: 0;
}

.attendance-tab .list-container .list-last-page tr {
  height: 45px;
}

@media (max-width: 576px) {
  .attendance-tabs {
    font-size: smaller;
  }

  .attendance-tab {
    font-size: smaller;
  }
}

.progress-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.progress-container .progress-card {
  display: flex;
  flex-direction: column;
  margin-right: 10%;
  font-weight: bold;
}

.progress-container .progress-card span {
  margin-bottom: 10px;
}

.progress-container .progress-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress-container .progress-chart span {
  font-weight: bold;
  margin-bottom: 10px;
}

.progress-container .progress-chart .CircularProgressbar {
  width: 80%;
}

.progress-container .progress-chart .CircularProgressbar-path {
  stroke: #5bc0de;
}

.progress-container .progress-chart .CircularProgressbar-text {
  fill: #5bc0de;
}

@media (max-width: 576px) {
  .progress-container {
    flex-direction: column-reverse;
  }

  .progress-container .progress-card {
    text-align: center;
    margin: 30px 0 0 0;
  }

  .progress-container .progress-chart .CircularProgressbar {
    width: 65%;
  }
}

.staff-attendance-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.hr-attendance-container {
  width: 100%;
  height: calc(100% - 43px);
}

.hr-attendance-container .alert {
  width: 250px;
  margin: auto;
  margin-top: 30px;
  text-align: center;
}

.hr-attendance-container .list-container .list-last-page tr {
  height: 45px;
}

@media (max-width: 576px) {
  .hr-attendance-container {
    height: calc(100% - 81px);
  }

  .hr-attendance-container .list-container {
    height: calc(100% - 45px);
  }
}

@media (max-width: 320px) {
  .hr-attendance-container .alert {
    width: fit-content;
    font-size: smaller;
  }
}
