.attendance-dropdown {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  color: #495057;
  font-weight: 600;
}

.attendance-dropdown-button {
  width: 80px;
  border: none;
  border-bottom: solid 2px #5bc0de;
  background-color: transparent;
  color: #5bc0de;
  transition: 0.2s;
}

.attendance-dropdown-button:hover,
.attendance-dropdown-button:focus-visible {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0 0 5px 1px #5bc0de;
}

.attendance-dropdown-button:focus {
  outline: none;
}

.attendance-dropdown-button:active {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: solid 2px #495057;
  box-shadow: 0 0 5px 1px #495057;
  color: #495057;
}

.attendance-dropdown .dropdown-item:active {
  background-color: #495057;
}

.attendance-tabs {
  padding: 1px;
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
}

.attendance-tabs a {
  color: #5bc0de;
  font-weight: 500;
  white-space: nowrap;
}

.attendance-tabs a:focus {
  outline: none;
}

.attendance-tabs a:focus-visible {
  box-shadow: 0 0 2px 0 grey;
  z-index: 2;
}

.attendance-tabs + .tab-content {
  width: 100%;
  height: calc(100vh - 170px);
}

.attendance-tab {
  width: 100%;
  height: 100%;
  margin-top: 15px;
}

.attendance-tab .list-container {
  height: calc(100% - 50px);
  margin: 0;
}

.attendance-tab .list-container .list-last-page tr {
  height: 45px;
}

.hours-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.hours-container .hours-card {
  display: flex;
  flex-direction: column;
  margin-right: 10%;
  font-weight: bold;
}

.hours-container .hours-progress {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hours-container .hours-progress span {
  font-weight: bold;
  margin-bottom: 10px;
}

.hours-container .hours-progress .CircularProgressbar {
  width: 80%;
}

.hours-container .hours-progress .CircularProgressbar-path {
  stroke: #5bc0de;
}

.hours-container .hours-progress .CircularProgressbar-text {
  fill: #5bc0de;
}

@media (max-width: 576px) {
  .attendance-dropdown{
    font-size: smaller;
  }

  .attendance-dropdown-button {
    width: 60px;
  }

  .attendance-tabs {
    font-size: smaller;
  }

  .attendance-tab {
    font-size: smaller;
  }

  .hours-container {
    flex-direction: column-reverse;
  }

  .hours-container .hours-card {
    text-align: center;
    margin: 30px 0 0 0;
  }

  .hours-container .hours-progress .CircularProgressbar {
    width: 65%;
  }
}




.attendance-input {
  width: 140px;
  box-shadow: none;
  border: 1px solid #495057;
  border-radius: 10px;
  padding-left: 10px;
}

.attendance-input:focus,
.attendance-input:active {
  border: 1px solid #495057;
  outline: none;
}

.hr-attendance-button {
  border: none;
  background-color: #5bc0de;
  color: white;
  margin-left: 40px;
}

.hr-attendance-button:active,
.hr-attendance-button:focus {
  outline: none;
}

.hr-attendance-button:hover {
  background-color: #5bc0de;
}

.hr-attendance-button:focus,
.hr-attendance-button:active,
.hr-attendance-button:not(:disabled):not(.disabled):active {
  background-color: #5bc0de;
  outline: none;
}

.attendance-button-container {
  display: flex;
}

.general-attendance-container {
  text-align: center;
}

.general-attendance-button {
  width: 150px;
  height: 100px;
  margin-bottom: 20px;
  margin-left: 20px;
  transition: 0.15s;
  background-color: #5bc0de;
  border: none;
  font-weight: bold;
}

.general-attendance-button:hover {
  transform: scale(1.05);
  background-color: #37a8ca;
  border: none;
}

.general-attendance-button:focus,
.general-attendance-button:active,
.general-attendance-button:not(:disabled):not(.disabled):active {
  background-color: #37a8ca;
  border: none;
}

@media (max-width: 768px) {
  .hr-attendance-button {
    margin-left: 30px;
  }
}

@media (max-width: 679px) {
  .general-attendance-container {
    margin-top: 15%;
  }
}

@media (max-width: 400px) {
  .attendance-button {
    font-size: 12px;
  }

  .hr-attendance-button {
    font-size: 12px;
  }

  .attendance-button-container {
    flex-direction: column;
  }

  .hr-view-attendance-button {
    margin-left: 0px;
    margin-top: 10px;
    width: 125px;
    font-size: smaller;
  }
}
