.edit-button {
  border: none;
}

.edit-button:hover,
.edit-button:focus,
.edit-button:not(:disabled):not(.disabled):active {
  background: lightblue;
  box-shadow: none;
}

.delete-button {
  border: none;
}

.delete-button:hover,
.delete-button:focus,
.delete-button:not(:disabled):not(.disabled):active {
  background: #ffcccb;
  box-shadow: none;
}

.submit-button,
.form-submit button,
.profile-photo-card button {
  background-color: #5bc0de;
  border-color: #5bc0de;
  height: 40px;
}

.submit-button:hover,
.form-submit button:hover,
.profile-photo-card button:hover {
  background-color: #3fafd1;
  border-color: #3fafd1;
}

.submit-button:focus,
.form-submit button:focus,
.profile-photo-card button:focus {
  background-color: #3fafd1;
  border-color: #3fafd1;
  box-shadow: 0 0 0 0.2rem #3fafd17e;
}

.submit-button:not(:disabled):not(.disabled):active,
.form-submit button:not(:disabled):not(.disabled):active,
.profile-photo-card button:not(:disabled):not(.disabled):active {
  background-color: #319bbb;
  border-color: #319bbb;
}

.submit-button:not(:disabled):not(.disabled):active:focus,
.form-submit button:not(:disabled):not(.disabled):active:focus,
.profile-photo-card button:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem #3fafd17e;
}

.submit-button:disabled,
.submit-button.disabled,
.form-submit button:disabled,
.form-submit button.disabled,
.profile-photo-card button:disabled,
.profile-photo-card button.disabled {
  background-color: #5bc0de;
  border-color: #5bc0de;
  opacity: 0.6;
}

.close-button {
  width: 2em;
  height: 2em;
  background: none;
  border: none;
  border-radius: 3px;
  margin: 3px;
  transition: 0.25s;
}

.close-button:hover,
.close-button:focus {
  outline: none;
  background: rgb(245, 245, 245);
}

.close-button:not(:disabled):not(.disabled):active {
  box-shadow: 0 0 0 3px lightgrey;
}