.edit-button {
  border: none;
}

.edit-button:hover,
.edit-button:focus,
.edit-button:not(:disabled):not(.disabled):active {
  background: lightblue;
  box-shadow: none;
}

.delete-button {
  border: none;
}

.delete-button:hover,
.delete-button:focus,
.delete-button:not(:disabled):not(.disabled):active {
  background: #ffcccb;
  box-shadow: none;
}

.form-submit button,
.profile-card button {
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.form-submit button:hover,
.profile-card button:hover {
  background-color: #3fafd1;
  border-color: #3fafd1;
}

.form-submit button:focus,
.profile-card button:focus {
  background-color: #3fafd1;
  border-color: #3fafd1;
  box-shadow: 0 0 0 0.2rem #3fafd17e;
}

.form-submit button:not(:disabled):not(.disabled):active,
.profile-card button:not(:disabled):not(.disabled):active {
  background-color: #319bbb;
  border-color: #319bbb;
}

.form-submit button:not(:disabled):not(.disabled):active:focus
.profile-card button:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem #3fafd17e;
}
