input {
  background: none;
}

input:-webkit-autofill {
  background-clip: text;
  /* -webkit-text-fill-color: navy; */
}

.form-container {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.form-card {
  border: solid;
  border-radius: 10px;
  width: 80%;
  padding: 15px;
}

.form-card label {

}

.form-card input {

}

.form-card select {

}
