.login-main-container {
  height: 100vh;
  background: rgb(4, 100, 164);
  background: linear-gradient(
    180deg,
    rgba(4, 100, 164, 1) 0%,
    rgba(26, 151, 210, 1) 25%,
    rgba(49, 175, 225, 1) 50%,
    rgba(81, 205, 238, 1) 75%,
    rgba(129, 235, 246, 1) 100%
  );
}

.login-form-container {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  animation: login-form-animation 1.5s 0.25s backwards ease;
}

@keyframes login-form-animation {
  0% {
    top: 0%;
  }
  100% {
    top: 50%;
  }
}

.login-form-icon {
  color: rgb(28, 142, 248);
  font-size: larger;
  margin-right: 1vw;
}

.login-input {
  outline: none;
  border: none;
  border-bottom: 3px solid black;
}

.login-button {
  margin-top: 10%;
  padding: 7px;
  width: 100%;
  border: none;
  border-radius: 30px;
  color: white;
  font-weight: bolder;
  background: rgb(4, 100, 164);
  background: linear-gradient(
    90deg,
    rgba(4, 100, 164, 1) 0%,
    rgba(26, 151, 210, 1) 25%,
    rgba(49, 175, 225, 1) 50%,
    rgba(81, 205, 238, 1) 75%,
    rgba(129, 235, 246, 1) 100%
  );
}

.login-button:hover {
  box-shadow: 0 0 4px 2px grey;
}

.login-button:focus {
  outline: none;
}

.login-button:not(:disabled):not(.disabled):active {
  transform: scale(0.98);
  box-shadow: 0 0 4px 1px grey;
}

.login-button:disabled {
  opacity: 0.6;
}
