.modal-content .close-button {
  float: right;
}

.delete-modal-header {
  position: relative;
  display: flex;
  justify-content: center;
  height: 110px;
}

.delete-modal-body {
  height: 50px;
  margin-left: -0.5px;
  margin-right: -0.5px;
}

.delete-modal-button {
  border-radius: 0;
  width: 50%;
  height: 100%;
}

.delete-modal-button:focus,
.delete-modal-button:not(:disabled):not(.disabled):active:focus {
  box-shadow: none;
}
