.modal-content .close-button {
  float: right;
}

.modal-header {
  position: relative;
  display: flex;
  justify-content: center;
  height: 110px;
}

.modal-confirm {
  height: 50px;
  margin: -0.5px;
}

.modal-confirm-button {
  border-radius: 0;
  width: 50%;
  height: 100%;
}

.modal-confirm-button:focus,
.modal-confirm-button:not(:disabled):not(.disabled):active:focus {
  box-shadow: none;
}

.modal-form label {
  margin-right: 15px;
}