.unseen-notification {
  background-color: rgba(173, 216, 230, 0.5);
}

.seen-notification {
  background-color: white;
}

.notifications-container {
  width: 100%;
  height: 100%;
  padding: 5px;
  overflow-y: auto;
}

.no-notifications-card .card-title {
  margin: 0;
}

.notification-card {
  cursor: pointer;
  margin-bottom: 30px;
}

.notification-card:focus-visible {
  box-shadow: 0 0 5px 0 black;
}

.notification-card:hover {
  box-shadow: 0 0 5px 0 grey;
}

.notification-card:focus {
  outline: none;
}

.notification-card:active {
  background-color: rgb(226, 224, 224);
  outline: none;
}

.navbar-notification-item {
  padding: 0;
}

.navbar-notification-item > span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 46px;
  height: 40px;
  padding-top: 1px;
}

.navbar-notification-counter {
  pointer-events: all;
  top: 7px;
  font-size: xx-large;
}

.navbar-notification-counter.small {
  left: -10px;
  right: unset;
}

.navbar-notification-counter.medium {
  left: -12px;
  right: unset;
}

.navbar-notification-counter.large {
  left: -30px;
  right: 2px;
}

.dropdown-no-notifications {
  pointer-events: none;
}

.dropdown-no-notifications:focus {
  outline: none;
}

.dropdown-notification {
  display: flex;
  flex-direction: column;
}

.dropdown-notification:hover,
.dropdown-notification:focus-visible {
  background-color: rgba(173, 216, 230);
}

.dropdown-notification:focus {
  outline: none;
}

.dropdown-notification:active {
  color: black;
  background-color: rgb(226, 224, 224);
}

.dropdown-notification span {
  width: 100%;
  white-space: initial;
}
