.profile-container {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 30px 0;
}

.profile-card {
  display: flex;
  width: 100%;
  height: 100%;
  animation: profile-card-animation 1s ease;
}

@keyframes profile-card-animation {
  0% {
    transform: translateY(-25%);
    opacity: 0;
  }
  95% {
    transform: translateY(0);
    opacity: 0.95;
  }
  100% {
    opacity: 1;
  }
}

.profile-photo-card {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  overflow-y: auto;
  text-align: center;
  border-right: 5px solid #5bc0de;
  padding: 0 20px;
}

.profile-photo {
  margin: 20px;
}

.profile-photo img {
  border-radius: 50%;
  padding: 5px;
  border: 5px solid #5bc0de;
}

.profile-name {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.profile-role {
  font-size: 18px;
  font-weight: bold;
  color: #5bc0de;
  margin-bottom: 30px;
}

.profile-photo-card button {
  font-weight: bold;
  margin-top: auto;
  margin-bottom: 20px;
}

.profile-info-card {
  width: 70%;
  height: 100%;
  padding: 0 20px;
}

.profile-info-tabs {
  height: 45px;
}

.profile-info-tabs a {
  color: #5bc0de;
  font-weight: bold;
}

.profile-info-tabs a:focus {
  outline: none;
}

.profile-info-tabs a:focus-visible {
  box-shadow: 0 0 2px 0 grey;
  z-index: 2;
}

.profile-info-card .tab-content {
  height: calc(100% - 45px);
}

.profile-info-tab {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  text-align: left;
  padding-top: 40px;
}

.profile-info-tab .close-button {
  float: right;
  margin-top: -35px;
}

.profile-info-tab div {
  display: flex;
  flex-direction: column;
  font-size: large;
}

.profile-info-tab div > span:first-child {
  color: #5bc0de;
  font-weight: bold;
  margin-bottom: 5px;
}

.profile-info-tab div > span:last-child:not(.error-message) {
  margin-bottom: 41px;
}

.profile-info-tab input {
  margin-top: 5px;
  width: 220px;
}

@media (max-width: 992px) {
  .profile-photo-card {
    width: 35%;
  }

  .profile-info-card {
    width: 65%;
  }
}

@media (max-width: 768px), (min-height: 600px) {
  .profile-container {
    padding: 15px;
  }

  .profile-card {
    flex-direction: column;
    overflow-y: auto;
  }

  .profile-photo-card {
    border-right: none;
    border-bottom: 5px solid #5bc0de;
    width: 100%;
    height: fit-content;
    overflow-y: unset;
    padding: 0 0 20px 0;
    margin-bottom: 20px;
  }

  .profile-info-card {
    width: 100%;
    height: fit-content;
    padding: 0;
  }

  .profile-info-tab {
    overflow-y: unset;
    padding: 40px 10px 0 10px;
  }
}

@media (max-width: 400px) {
  .profile-info-tabs {
    font-size: smaller;
  }

  .profile-info-tabs {
    height: 40px;
  }

  .profile-info-card .tab-content {
    height: calc(100% - 40px);
  }
}
