.hr-counts-report {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}
.hr-counts-report>div{
  border: 1px solid lightgrey;
  width: 17%;
  height: 80px;
}
.hr-counts-report>div:hover,
.hr-counts-report>div:focus{
  box-shadow: 0 0 10px 0 rgba(26, 151, 210, 1);
  transform: scale(1.05);

}
.counts-report-icon{
font-size: 30px;
margin: auto 0px auto 10px;
}